<ul
        id="mobile-menu-list"
        class="mobile-menu-list z-20 p-8 bg-gray-900 w-screen -left-6 absolute top-full space-y-1"
        x-show="$store.global.isMobileMenuVisible"
>
    {% for link in linklists['main-menu'].links %}
        <li class="mobile-menu-item">
            <a href="{{ link.url }}" class="block text-2xl font-bold tracking-wide text-white no-underline py-2 hover:bg-gray-800 hover:text-white px-4 -mx-4 transition-colors focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-inset">
                {{ link.title }}
            </a>
        </li>
    {% endfor %}
</ul>
