<div id="site-promo-bar-wrapper"
        {% if settings.collapse_promo_bar %}
            x-data
            x-show="$store.global.isPromoBarVisible"
            x-collapse
        {% endif %}
>
    <div
            id="site-promo-bar"
            class="flex px-4 py-1 top-0 w-full items-center justify-center bg-gray-200 text-gray-900"
    >
        <div class="text-gray-900 [&_a]:text-gray-900 [&_a]:hover:text-blue-600 [&_a]:underline font-bold text-base tracking-wide text-center">
            {{ settings.promo_bar_content }}
        </div>
    </div>
</div>