<section>

</section>
{%- comment -%} schematic {%- endcomment -%}
{% schema %}
{
  "name": "Password Section",
  "tag": "section",
  "class": "section-main-password",
  "presets": [
    {
      "name": "Password Section"
    }
  ],
  "enabled_on": {
    "template": "password"
  },
  "settings": []
}
{% endschema %}