@layer components {
    .skip-to-content-link {
        @apply absolute z-50 px-4 py-2 text-white bg-blue-500 rounded-lg shadow-lg;
    }

    .skip-to-content-link:not(:focus) {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }

    .btn {
        @apply py-3 px-6 bg-gray-900 hover:bg-gray-800 text-white font-medium focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 transition-colors;
    }

    .input-select {
        @apply block
        my-4
        w-full
        py-2
        px-4
        border
        border-gray-300
        appearance-none
        bg-white
        focus:outline-none
        focus:ring-2
        focus:ring-blue-400
        focus:border-transparent;
    }

    .pill-button {
        @apply bg-gray-900 hover:bg-gray-800 text-white px-6 py-2 font-medium focus:outline-none focus:ring-2 focus:ring-gray-500 transition-colors cursor-pointer;
    }

    .vast-input {
        @apply py-2 px-4 border border-gray-300 bg-white focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent;
    }

    /* Minicart drawer styles */
    .minicart-wrapper {
        @apply fixed z-50 right-4 top-8 pointer-events-none w-2xs;
    }

    .minicart-wrapper > * {
        @apply pointr-events-auto overflow-y-auto;
        max-height: calc(100vh - 8rem);
    }

    /* Transition classes for slide-in from right */
    .off-screen-right {
        @apply translate-x-4;
    }
}
