.some-unused-class {
    --im-not-tree-shaken: 1;
}

@font-face {
    font-family: 'Zalando Sans SemiExpanded';
    src: url('/ZalandoSans.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-style: normal;
    font-display: swap;
    font-variation-settings: 'wdth' 112.5;
}

@font-face {
    font-family: 'Zalando Sans SemiExpanded';
    src: url('/ZalandoSans.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-style: italic;
    font-display: swap;
    font-variation-settings: 'wdth' 112.5, 'slnt' -12;
}